*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
android_backend_plan.md
/docs
/.env/

# Generated Security Files
app/src/main/res/raw/server_cert.crt
app/src/main/res/xml/network_security_config.xml
