name: Build and Release APK

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Create .env file
        run: |
          mkdir -p .env
          echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" > .env/.env

      - name: Build APK
        run: ./gradlew assembleDebug

      - name: Upload APK to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Build
          body: "Automatic build from the latest push to main branch."
          draft: false
          prerelease: true
          make_latest: false
          files: app/build/outputs/apk/debug/RestaurantClient-debug.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

